<div style="margin-left: 2%">
<h1>Product Admin</h1>
<a class="btn btn-primary mb-3" (click)="saveProduct()">Add New Product</a>
</div>
<div class="container row">
  <div class="col-md-6">
    <table class="table  table-dark table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="viewProduct(product.id)">Show Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-addproduct *ngIf="action === 'edit' || action === 'add'" [product]="selectedProduct" (productAddedEvent)="refreshData()"></app-addproduct>
    <app-viewproduct *ngIf="action === 'view'" [product]="selectedProduct" (productDeletedEvent)="refreshData()"></app-viewproduct>
  </div>
</div>
