
<ng-container *ngIf="products.length!=0">
  <div class="container">
      <div class="table-responsive ">
        <table class="table">
          <thead>
          <tr>
            <th>Sr.No</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of products;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td><img style="width:120px;" src="{{item.retrievedImage}}" alt=""> </td>
            <td style="width: 25%">{{item.description}}</td>
            <td style="width: 12%">{{item.price}}</td>
            <td style="width: 12%">{{item.quantity}}</td>
            <td style="width: 12%">{{item.total}}</td>
            <td>
              <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </td>

          </tr>
          <tr>
            <td colspan="4"></td>
            <td><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
            <td><button routerLink="../shop" class="btn btn-primary">Shop More</button></td>
            <td><button class="btn btn-success">Checkout</button></td>
            <td><strong>Grand Total: Rs:{{grandTotal}}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length==0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>

    <div class="center">
      <img src="https://img.freepik.com/premium-vector/parcel-box-with-order-confirmation-icon-is-placed-computer-laptop-all-floating-midair-designing-advertisements-about-shipping-online-shoppingvector-3d-isolated-orange-backgroud_425581-76.jpg?w=2000" alt="">
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <a routerLink="../shop" class="nav-link">
        <button class="btn btn-primary" >Shop Now</button>
      </a>

    </div>
  </div>
</ng-container>
