<div class="div product-bar" >
  <nav class="navbar  navbar-expand-md navbar-dark bg-dark " style="text-align:center">
    <div class="container">

      <a href="#" class="navbar-brand mb-0 h1" >
        <i style="font-size: 40px;" class="fa-sharp fa-solid fa-store"></i>
        &nbsp;
        <strong style="letter-spacing: 3px;font-size: 30px;">URBAN PLANET</strong>
      </a>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="flex: 1;margin: auto;display: flex; font-size:17px">

          <li class="nav-item active">
            <a routerLink="shop" class="nav-link">
              Shop
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              LogOut
            </a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

</div>

<div>
  <router-outlet></router-outlet>
</div>



